<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Prix</th>
      <th>Catégorie</th>  
    
    </tr>
    <tbody *ngFor="let montre of montres">
    <tr >
    <td>{{montre.idMontre}}</td>
    <td>{{montre.nomMontre}}</td>
    <td>{{montre.prixMontre}}  TND</td>
    
    <td>{{montre.categorie.nomCat}}</td>  
    <td><a class="btn btn-danger" a *ngIf="authService.isAdmin()"  (click)="supprimerMontre(montre)">Supprimer</a></td>
    <td><a class="btn btn-success" a *ngIf="authService.isAdmin()" [routerLink]="['/updateMontre',montre.idMontre]">Modifier</a></td>

    
    </tr>
    </tbody>
    </table>
    </div>